.content{
    margin-top: -10%;
    margin-bottom: -100%;
    padding-top: 10%
}

.content.transparent{
    opacity:0.5;
    transition:0.3s
}

.content-section{
    min-height: 50vh;
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}



