.form{
    width: 40%;
    margin-left: -8%;
    margin-top: 2%;
    
}

.admin-form {
    width: 100%;
    padding: 2%;
    border: 2px solid rgb(116, 116, 116);
    box-shadow: 0.5px 0.5px 6px #222;
    border-radius: 0.5em;
}

.form-parts{
    width: 100%;
    display: flex;
    flex: row;
    margin-top: 2%;
    margin-bottom: 5%;
}

.part{
    width: 30%;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.part:hover{
    background-color: cadetblue;
    cursor: pointer;
}

.form-group{
    margin-bottom: 1em;
    width: 100%;
    font-size: 110%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-label{
    font-weight: bold;  
}


.input{
    border: 2px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0.5px 0.5px 3px #222;
}


.form-submit {
    margin-top:2%;
}

.form-part-section{
    display: none;
}

.active{
    display: inline;
}