
.table{
    margin-top: 3vh;
    min-height: max-content;
    margin-bottom: 10vh;
    width: 40%;
    text-align: center;
}



.table-container{
    border: 2px solid rgb(116, 116, 116);
    box-shadow: 0.5px 0.5px 6px #222;
    border-radius: 0.5em;
}

.three-columns-table{
    text-align: center;
}

.first{
    width: 25%;
}

.second{
    width: 45%;
}

.third{
    width:20%;
}

.two-columns-table{
    border-right: 1px black solid;
    font-weight: bold;
    text-align: center;
} 



.thread{
    background-color: rgb(177, 177, 177);
    border-bottom: 1px black solid;
    border-radius: 0.4em 0.4em 0em 0em;
    display: flex;
    flex-flow: row;
    font-weight: bold;
    min-height: 5vh;
}  

.head{
    padding-top: 1.5vh;
    height: 3vh;
}



.table-row {
    border-top: 1px solid hsl(0, 0%, 73%);
    min-height: 5vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}


.table-field-container{
    display: flex;
    flex-flow: row;
}

.table-field{
    padding:1%;
    text-align: center;
}

/*.category{
}*/


.buttons{
    width: 10%;
}
.edit-buttons:hover{
    opacity:0.5;
    cursor: pointer;
}

.eliminate-buttons:hover{
    opacity:0.5;
    cursor: pointer;
}

.table-row:hover{
    background-color: rgba(180, 180, 180, 0.548);
}


.table-pagination{
    position: static;
    font-weight: bold;
    .table-pagination-info{

        display: flex;
        justify-content: space-between;

        .table-pagination-total{

        }

        .table-pagination-pages{}
    }

    .table-pagination-buttons{
        
        .table-pagination-button{

        }
        .table-pagination-button:hover{
            text-decoration: underline;
            color:#1b346e;;
            cursor: pointer;

        }
    }
}






