
.table{
    margin-top: 3vh;
    min-height: max-content;
    margin-bottom: 10vh;
    width: 40%;
    text-align: center;
    word-wrap: break-word
}

.table-container{
    border: 2px solid rgb(116, 116, 116);
    box-shadow: 0.5px 0.5px 6px #222;
    border-radius: 0.5em;
}



/*****One column*****/
    .one-column-table{
        text-align: center;
    }

    .one-column-table.first{
        width: 90%;
    }
/*********************/


/*****Two columns*****/
    .two-columns-table{
        text-align: center;
    }

    .two-columns-table.first{
        width: 40%;
    }

    .two-columns-table.second{
        width: 50%;
    }

/*********************/


/*****three columns*****/
    .three-columns-table{
        text-align: center;
    }

    .three-columns-table.first{
        width: 25%;
    }

    .three-columns-table.second{
        width: 40%;
    }

    .three-columns-table.third{
        width:25%;
    }
/*********************/


/*****four columns*****/
    .four-columns-table{
        text-align: center;
    }

    .four-columns-table.first{
        width: 20%;
    }

    .four-columns-table.second{
        width: 25%;
    }

    .four-columns-table.third{
        width:25%;
    }

    .four-columns-table.fourth{
        width:20%;
    }
/*********************/


.thread{
    background-color: rgb(177, 177, 177);
    border-bottom: 1px black solid;
    border-radius: 0.4em 0.4em 0em 0em;
    display: flex;
    flex-flow: row;
    font-weight: bold;
    min-height: 5vh;
}  

.head{
    padding-top: 1.5vh;
    height: 3vh;
}



.table-row {
    border-top: 1px solid hsl(0, 0%, 73%);
    min-height: 5vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}


.table-field-container{
    display: flex;
    flex-flow: row;
}


.table-buttons{
    width: 10%;
    text-align: center;
}
.edit-buttons:hover{
    opacity:0.5;
    cursor: pointer;
}

.eliminate-buttons:hover{
    opacity:0.5;
    cursor: pointer;
}

.table-row:hover{
    background-color: rgba(180, 180, 180, 0.548);
}


.table-pagination{
    position: static;
    font-weight: bold;
    .table-pagination-info{

        display: flex;
        justify-content: space-between;

        .table-pagination-total{

        }

        .table-pagination-pages{}
    }

    .table-pagination-buttons{
        
        .table-pagination-button{

        }
        .table-pagination-button:hover{
            text-decoration: underline;
            color:#1b346e;;
            cursor: pointer;

        }
    }
}
