.form{
    margin-top: 5%;
    width: 40%
}

.form-container form {
    width: 100%;
}

.form-group{
    margin-bottom: 1em;
    width: 100%;
}

.form-group .form-label{
    width: 100%;
}

.form-group .form-label label {
    width: 100%;
}

.form-group .form-input{
    width: 100%;
}

.form-group .form-input input{
    border: 2px solid #ccc;
    border-radius: 4px; 
    width: 100%;
}

.form-group .form-input textarea{
    width: 100%;
    height: 9em;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.form-submit {
    margin-top:2%;
}