.faqs-section{
    margin-top:-1.6%;
}
h2{
    text-align: center;
    padding-top: 5%;

}

.faqs{
    width: 50%;
    margin:auto;
}

.faq-title{
    border-bottom: rgb(0, 0, 0) 2px solid;
    display:flex;
    flex-direction: row;
    height: 6vh; 
}


.title{
    width: 80%;
    margin:auto;
    font-weight: bold;
    text-align: center;
}

.buttons{
    width: 5%;
    padding-top: 1.5%;
}

.plus-button:hover{
    cursor: pointer;
    border: rgb(0, 0, 0) 0.5px solid;
}


.faq-description{
   overflow: hidden;
   max-height: 0;
   margin-bottom: 1%;
   transition: 0.1s;
   padding-left: 5%;
   
 
}

.active{
    max-height: 100vh;
    padding-bottom:10%;
    transition: 0.5s;
    border-bottom:  rgb(0, 0, 0) 1px solid;
}

