header{
    background-color: hsl(11, 0%, 10%);
    color: white;
    height: 10vh;
}

.sections{
    display:flex;
    flex-direction: row;
    width:99%;
    margin:auto;

}

.section{
    width:100%;   
}

.section-title{
    margin:auto;
    text-align:center;
}

.section-title:hover{
    border: white 0.5px solid;
    cursor: pointer;
}



