.title {
  text-align: center;
  width: 30%;
  margin: auto;
  font-size: 175%;
}

.content {
  margin-top: 2%;
}

.content.transparent {
  opacity: 0.5;
  transition: 0.3s;
}

.faqs {
  position: absolute;
  top: 22%;
  left: 25%;
  width: 50%;
  margin: auto;
}

.faq-title {
  border-bottom: black 2px solid;
  display: flex;
  flex-direction: row;
  height: 6vh;
}

.faq-title-content {
  width: 95%;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}

.buttons {
  width: 5%;
  padding-top: 1.5%;
}

.plus-button:hover {
  cursor: pointer;
  border: black 0.5px solid;
}

.faq-description {
  overflow: hidden;
  max-height: 0;
  margin-bottom: 1%;
  transition: 0.1s;
  padding-left: 5%;
  display: flex;
  flex-flow: row;
}

.faq-description.active {
  max-height: 100vh;
  padding-bottom: 10%;
  transition: 0.5s;
  border-bottom: black 1px solid;
}

.description {
  width: 50%;
}

.faq-description-images {
  width: 40%;
  margin-top: 5%;
  padding-left: 10%;
}

.main-image {
  width: 90%;
  margin: auto;
}
.main-image img {
  width: 90%;
  margin: auto;
  border: 2px solid black;
}

.grid-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-images img {
  width: 7.5vh;
  height: 7.5vh;
  margin: 5%;
  border: 2px solid black;
}

.faq .faq-description {
  max-height: 100vh;
  padding-bottom: 10%;
}

.sidebar {
  position: absolute;
  z-index: -1;
  opacity: 0;
  max-height: 0vh;
  transition: 0.3s;
  width: 25%;
  margin-left: 75%;
}

.sidebar.active {
  background-color: black;
  transition: 0.3s;
  color: white;
  float: right;
  margin-top: 0%;
  position: absolute;
  z-index: 2;
  margin-left: 75%;
  width: 25%;
  text-align: left;
  opacity: 0.8;
  max-height: 100vh;
}

.login-form {
  margin-top: 7.5%;
}

.login {
  border: 2px solid #747474;
  width: 18%;
  padding: 2% 1% 2% 1%;
  margin: auto;
  min-height: 10vh;
  border: 2px solid #747474;
  box-shadow: 0.5px 0.5px 6px #222;
  border-radius: 0.5em;
}

.form-group {
  margin-bottom: 5%;
}

.form-label {
  font-weight: bold;
}

.input {
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0.5px 0.5px 3px #222;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* Container
   ========================================================================== */
.container {
  width: 100%;
  padding: 0;
}

/* Bootstrap */
.navbar-expand-lg {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

label {
  margin-bottom: 0;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

.row {
  margin: 0;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* List
==============================================================================*/
ol, ul {
  list-style: none;
}

.products-title h2 {
  text-align: center;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.products-grid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.product-box {
  margin-right: 10%;
  margin-top: 5%;
  padding-top: 5%;
  border: rgba(179, 179, 179, 0.5) solid 3px;
  border-radius: 0.1em;
}

.product-box:hover {
  border: #636363 solid 3px;
  cursor: pointer;
}

.product-information-box {
  position: relative;
  bottom: 0px;
  height: 11vh;
}

.product-references {
  height: 10vh;
}

.product-image {
  width: 15vh;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  height: 15vh;
  display: block;
  margin: auto;
  border: 2px black solid;
  border-radius: 0.1em;
}

.product-title {
  margin-left: 3%;
  text-transform: uppercase;
  font-size: 95%;
  margin-bottom: 5%;
  margin-top: 5%;
  height: 2vh;
}

.product-discount {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  margin-top: 12%;
}
.product-discount svg {
  width: 15px;
  color: #f74141;
}
.product-discount p {
  font-size: 90%;
  color: #f74141;
  font-weight: bold;
}

.product-second-line {
  display: flex;
  flex-flow: row;
  position: absolute;
  width: 100%;
  bottom: 10%;
}

.product-autor {
  width: 61%;
  max-height: 5vh;
  color: #9b9b9b;
  align-self: flex-end;
  margin: 0%;
  margin-left: 3%;
}

.product-price {
  position: absolute;
  right: 5%;
  margin: 0%;
  align-self: flex-end;
}

.product-more {
  opacity: 0;
  height: 0;
  border-radius: 0.1em;
}

.product-more.active {
  height: 3.5vh;
  display: inline;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-color: #cf5050;
  opacity: 0.75;
  width: 100%;
  text-align: center;
  transition: 0.5;
  transition: 0.3s;
}

/*****Individual products*****/
.product {
  width: 95%;
  margin: auto;
  display: flex;
  flex-flow: row;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.individual-product-information {
  width: 75%;
  display: flex;
  flex-flow: row;
}

.extra-images {
  width: 15%;
  margin-top: 5%;
}
.extra-images img {
  width: 75%;
  margin-top: 5%;
  margin-left: 10%;
  border: black 2px solid;
}

.main-product-content {
  width: 85%;
}

.individual-product-box {
  display: flex;
  flex-flow: row;
}

.individual-product-image {
  margin-top: 3%;
  margin-left: 3%;
  height: 50vh;
  width: 40%;
  border-right: #333333 3px solid;
}
.individual-product-image img {
  padding-right: 10%;
  width: 85%;
}

.individual-product-characteristics {
  margin-top: 1%;
  width: 45%;
  margin-left: 3%;
  text-align: left;
  height: 50vh;
}

.individual-product-title h3 {
  font-size: 140%;
  text-transform: uppercase;
  margin-bottom: 0%;
}

.individual-product-autor {
  font-size: 125%;
  opacity: 0.8;
}

.individual-product-genre {
  margin-top: 5%;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
  padding: 0.8%;
  width: 24%;
  background-color: #eb6d6d;
  border-radius: 0.5em;
}

.individual-product-price {
  margin-top: 3%;
  width: 25%;
  padding: 2%;
  font-weight: bold;
  font-size: 150%;
}

.individual-product-description {
  margin-top: 10%;
  text-align: justify;
  overflow: hidden;
  max-height: 20vh;
  font-size: 100%;
}
.individual-product-description .description-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  font-size: 110%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0%;
}

.individual-product-description.active {
  max-height: 200vh;
}

.more {
  color: rgba(226, 50, 50, 0.8);
  text-align: right;
  font-weight: bold;
}

.more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.shop {
  width: 25%;
  border: rgba(51, 51, 51, 0.418) 1px solid;
  border-radius: 2em;
  height: 30vh;
  box-shadow: 1.5px 1.5px 7px black;
  padding-top: 1.5%;
  min-height: 10vh;
}

.discount-price {
  margin-top: -3%;
  display: flex;
  flex-flow: row;
}

.shop-information.none {
  margin-top: 10%;
}

.original-price {
  margin-top: 5%;
  margin-left: 10%;
  font-size: 115%;
  -webkit-text-decoration: line-through black;
          text-decoration: line-through black;
  font-weight: bold;
  color: #f74141;
}

.discount {
  margin-top: 5%;
  margin-left: 5%;
}

.second-line {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.final-price {
  width: 30%;
  margin-top: 0%;
  margin-left: 7.5%;
  text-align: left;
  font-size: 145%;
  font-weight: bold;
  margin-bottom: 5%;
}

.delivery {
  display: flex;
  flex-flow: row;
  width: 70%;
  margin-left: 5%;
}
.delivery svg {
  margin-top: 0%;
}
.delivery p {
  margin-left: 2%;
  margin-top: 0%;
}

.shop-bottons {
  margin-top: 5%;
}

.shop-button {
  display: flex;
  flex-flow: row;
  width: 75%;
  height: 4vh;
  margin: auto;
  background-color: #0e0e0e;
  opacity: 0.85;
  margin-bottom: 5%;
  color: white;
  font-weight: bold;
  border-radius: 0.75em;
}

.shop-button:hover {
  cursor: pointer;
  opacity: 1;
}

.shop-image {
  width: 20%;
  margin: 2%;
}

.shop-cart.active {
  background-color: #cc5151;
}

.shop-text {
  width: 90%;
  margin: auto;
  text-align: left;
}

.wishes {
  display: flex;
  flex-flow: row;
  width: 95%;
  margin-left: 20%;
  margin-top: -2%;
}
.wishes svg {
  margin-top: 5%;
}
.wishes .wish {
  color: #f74141;
}
.wishes p {
  margin-left: 2%;
  font-weight: bold;
  margin-bottom: 0%;
}

.wishes:hover {
  cursor: pointer;
}
.wishes:hover p {
  text-decoration: underline;
}

.inactive {
  display: none;
}

.siledow-container {
  width: 20%;
}

.bottombar {
  background-color: #383838;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 90%;
  display: none;
}
.bottombar .bottombar-element {
  display: flex;
  margin: 0 1em;
}
.bottombar .bottombar-element .bottombar-element-icon {
  margin: auto;
  margin-right: 0.5em;
}
.bottombar .bottombar-element .bottombar-element-icon svg {
  height: 1em;
  width: 1em;
}
.bottombar .bottombar-element .bottombar-element-icon svg path {
  fill: white;
}
.bottombar .bottombar-element .bottombar-element-text {
  margin: auto;
}
.bottombar .bottombar-element .bottombar-element-text p, .bottombar .bottombar-element .bottombar-element-text a, .bottombar .bottombar-element .bottombar-element-text h1 {
  color: white;
  font-size: 0.9em;
  font-weight: 300;
}
.bottombar .bottombar-left, .bottombar .bottombar-right {
  display: flex;
}

.bottombar .bottombar-element p, .bottombar .bottombar-element a, .bottombar .bottombar-element h1, .bottombar .bottombar-element h2, .bottombar .bottombar-element h3, .bottombar .bottombar-element h4, .bottombar .bottombar-element h5 {
  color: white;
  font-size: 0.9em;
  font-weight: 400;
}

.bottombar-menu a:link, .bottombar-menu a:visited, .bottombar-menu a:active {
  text-decoration: none;
}
.bottombar-menu h4:hover {
  font-weight: bold;
}

.footer {
  background-color: #383838;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin-top: 0px;
  padding: 3% 10%;
  position: relative;
  width: 80%;
  margin-top: 8%;
}

.footer-logo {
  width: 7vh;
  height: 7vh;
}
.footer-logo img {
  width: 7vh;
  height: 7vh;
}

.footer:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
  background-size: 40px 40px;
}

.footer:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  background-size: 80px 40px;
}

.footer-flex {
  display: flex;
  flex-flow: row;
}
.footer-flex .footer-menu {
  width: 10%;
}
.footer-flex .footer-socials {
  width: 15%;
}
.footer-flex .footer-contact {
  width: 30%;
}

.footer .footer-element-title {
  color: white;
  margin-bottom: 0em;
}

.footer .footer-element-container p, .footer .footer-element-container a, .footer .footer-element-container h1, .footer .footer-element-container h2, .footer .footer-element-container h3, .footer .footer-element-container h4, .footer .footer-element-container h5 {
  color: white;
  font-weight: 400;
  margin-top: 0.1em;
}
.footer .footer-element-container a:link, .footer .footer-element-container a:visited, .footer .footer-element-container a:active {
  text-decoration: none;
}
.footer .footer-element-container h4:hover {
  font-weight: bold;
}

.footer .footer-element-icon {
  margin-right: 0.5em;
}
.footer .footer-element-icon svg {
  height: 1em;
  width: 1em;
}
.footer .footer-element-icon svg path {
  fill: white;
}

.footer-element-text a:link, .footer-element-text a:visited, .footer-element-text a:active {
  text-decoration: none;
}
.footer-element-text a:hover {
  font-weight: bold;
}

.footer .footer-socials-container {
  display: flex;
}

.footer .footer-contact-item {
  display: flex;
  margin: 0.5em 0;
}

.topbar {
  background-color: #3c3c3c;
  display: flex;
  height: 8vh;
  justify-content: space-between;
  width: 100%;
  color: #3c3c3c;
}
.topbar .header-logo {
  text-align: center;
  height: 10vh;
  width: 10vh;
}
.topbar .header-logo img {
  width: 80%;
  position: relative;
  left: 15px;
  bottom: 0px;
}
.topbar .topbar-element {
  display: flex;
  align-items: center;
  margin: 0 1em;
}
.topbar .topbar-element .topbar-element-icon {
  margin: auto;
  margin-right: 0.5em;
}
.topbar .topbar-element .topbar-element-icon svg {
  height: 1em;
  width: 1em;
  margin-top: 0.4em;
}
.topbar .topbar-element .topbar-element-icon svg path {
  fill: white;
}
.topbar .topbar-element .topbar-element-text {
  margin: auto;
}
.topbar .topbar-element .topbar-element-text p, .topbar .topbar-element .topbar-element-text a, .topbar .topbar-element .topbar-element-text h1 {
  color: white;
  font-size: 0.9em;
  font-weight: 300;
}
.topbar .topbar-left, .topbar .topbar-right {
  display: flex;
}
.topbar .topbar-center .page-title {
  font-size: 200%;
  margin: 0%;
  width: 50%;
  text-align: left;
  padding-top: 10%;
}
.topbar .topbar-element-text a:link, .topbar .topbar-element-text a:visited, .topbar .topbar-element-text a:active {
  text-decoration: none;
}
.topbar .topbar-element-text a:hover {
  font-weight: bold;
}

/******header******/
header {
  background-color: #7e7e7e;
  color: white;
  height: 4vh;
  margin-top: 0%;
  display: flex;
  flex-flow: row;
}

.links {
  margin-top: 0.5%;
  width: 90%;
}
.links a:link, .links a:visited, .links a:active {
  text-decoration: none;
}

.sections {
  margin-top: 0.5%;
  width: 10%;
  padding-right: 5%;
  text-align: right;
  display: none;
}

.sections-box:hover {
  cursor: pointer;
  border: white 2px solid;
}

.section-title {
  margin: auto;
  text-align: center;
}

.section-title:hover {
  border: white 0.5px solid;
  cursor: pointer;
}

.slider.active {
  background-color: black;
  opacity: 0.8;
  color: white;
  width: 100%;
  height: 8vh;
  margin-top: -5.5%;
  text-align: center;
}

.menu-inline {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1001;
  margin: 0%;
}
.menu-inline li {
  margin: 0.5em;
  cursor: pointer;
  display: inline-flex;
}
.menu-inline li h4 {
  margin: 0%;
}
.menu-inline li .menu-item.menu-item-selected h4,
.menu-inline li .menu-item.menu-item-selected a h4 {
  color: white;
}
.menu-inline li span h4,
.menu-inline li a h4 {
  color: black;
  opacity: 0.8;
  font-size: 1em;
}
.menu-inline li:hover a h4, .menu-inline li:hover span h4 {
  color: #414141;
}
.menu-inline:hover .menu {
  opacity: 1;
  top: 5vh;
  transition: all 0.7s;
}

.menu-vertical li {
  margin: 0.5em 0;
}

.menu {
  display: flex;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.7s;
  top: 0;
}
.menu li {
  margin: 1em 0.5em;
}

.contact {
  display: flex;
  flex-flow: row;
}

.ourinformation {
  width: 50%;
}

.text-information {
  display: flex;
  flex-flow: row;
}
.text-information p, .text-information a, .text-information h1, .text-information h2, .text-information h3, .text-information h5 {
  color: black;
  font-weight: 400;
  font-size: 100%;
  margin-top: 0.1em;
}
.text-information .contact-information {
  width: 40%;
  margin-left: 5%;
}
.text-information .socials {
  width: 15%;
  text-align: center;
}
.text-information .socials .socials-container {
  display: flex;
  justify-content: space-between;
  color: black;
}

.map {
  box-sizing: content-box;
}
.contact-form {
  width: 50%;
}

.localization {
  cursor: pointer;
  position: relative;
  width: 1.5em;
}
.localization:hover {
  box-shadow: 0px 7px 10px rgba(223, 238, 243, 0.3);
}

.modal-localization {
  display: flex;
  left: 0;
  margin: auto;
  opacity: 0;
  position: fixed;
  right: 0;
  top: -40vh;
  transition: opacity 0.5s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 5000;
}
.modal-localization.modal-active {
  opacity: 1;
  top: 40vh;
}
.modal-localization .localization-option {
  cursor: pointer;
  margin: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.modal-localization .localization-option:hover {
  box-shadow: 0px 7px 10px rgba(223, 238, 243, 0.3);
}
.modal-localization .localization-option svg {
  width: 10em;
}
