.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, hsl(190, 0%, 90%), hsl(190, 0%, 75%));
    margin: auto;
    padding-bottom: 10%;
    text-align: center;
}

